/*-------------------------------------------
# General
-----------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

/* -----------------------
  Homepage
 -------------------------*/
.showcase {
    background: url('./assets/2.jpg')
    no-repeat center/cover;
    height: 650px;
    padding: 0px;
  }

  .showcase .showcase-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
    text-align: center;
    color: #fff;
  }
  
  .showcase .showcase-overlay h1 {
    font-size: 36px;
    padding-bottom: 20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800&display=swap');
  .Type {
    font-family: 'Raleway', sans-serif;
    font-weight:800;
    font-size:40px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    }    
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}
.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}
.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}
@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*-------------------------------------------
 Socail Media icons
-----------------------------------------------*/
.social-menu ul{
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 30px;
  transform: translate(-50%, -50%);
  display: flex;
}
.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab{
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover{
  color: #fff;
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-menu ul li a:hover{
  transform: translate(0, -10%);
}
.social-menu ul li:nth-child(1) a:hover{
  background-color: #00acee;
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: blue;
}
/*--------------------- 
Gallery 
-----------------------*/
.w-5{
    width: 50vw;
    align-items: center;
    margin: 25px auto;
    height: 70%;
}
.carousel .carousel-inner h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #012970;
  text-align: center;
  margin-top: 30px;
}
/*-------------------------------------------
The Team
-----------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.container {
  margin-top: 50px;
}
.gallery,.board{
    margin: 50px 0 20px 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
 .container .team .member img{
   border-radius: 50%;
 }
 img:hover{
   border: 2px solid black;
 }
.container .team {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.container .team .member {
  width: 325px;
  margin: 10px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 25px;
}
.container .team .member:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
  border: 2px solid #00ffd042;
}

.container .team .member img {
  width: 80px;
  height: 80px;
}

.container .team .member h3 {
  color: #444;
  margin-top: 10px;
  margin-bottom: 0;
}

.container .team .member span {
  font-size: 14px;
  color: #999;
}

.container .team .member p {
  margin: 15px 0;
  font-weight: 400;
  color: #999;
  font-size: 15px;
  text-align: justify;
}
 
.container .team .member .btn a {
  background: #ddd;
  display: block;
  float: right;
  width: 125px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 6px;
  color: #444;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.container .team .member .btn a:hover {
  background: #5a36dd;
  color: #fff;
}
 
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  margin-top: 20px;
  background-color: #f6f9ff;
  padding: 40px;
}
.about .content:hover {
  border :2px solid #f6f9ff;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #012970;
}
.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}
.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #444;
}
.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}
.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}
.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.about .btn-read-more:hover i {
  transform: translateX(5px);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
footer,.footer-newsletter ,.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}
footer,.footer-newsletter ,.contact-form,.contact .info-box:hover {
  border: 2px solid #fafbff;
}
.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
  text-align: center;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
.contact .contact-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}
/*-----------------
 Footer 
 -----------------*/
.footer .footer-top .footer-contact p {
  line-height: 26px;
}
.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #012970;
}
.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}